# Copy these to root /.token.env and fill in real values

NOTION_API_KEY=
NOTION_DATABASE_ID=090d542c49d84c1d83370ace1cf52b56
GOOGLE_SHEETS_ID=1RUAGMUsD9HmepUr4Tgpuw5FwaSpcaE16SbWj-IaxH-w
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./service-account.json

# Optional — leave blank to skip Slack error notifications
SLACK_BOT_TOKEN=
NOTIFY_ON_ERROR_CHANNEL=
